Source: beignet
Section: libs
Priority: extra
Maintainer: Debian OpenCL Maintainers <pkg-opencl-devel@lists.alioth.debian.org>
Uploaders:
 Simon Richter <sjr@debian.org>,
 Rebecca N. Palmer <rebecca_palmer@zoho.com>,
 Andreas Beckmann <anbe@debian.org>,
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.5),
# We use the same LLVM version as mesa (currently 3.7 in Debian,
# 3.8 in Ubuntu); to avoid needing separate packages, build-depend
# on both and choose in debian/rules
 libgl1-mesa-dri,
 clang-3.7,
 libclang-3.7-dev,
 llvm-3.7-dev,
 clang-3.8 [linux-any],
 libclang-3.8-dev [linux-any],
 llvm-3.8-dev [linux-any],
 ocl-icd-dev,
 ocl-icd-opencl-dev,
 pkg-config,
 python3,
 libdrm-dev,
 libxext-dev,
 libxfixes-dev,
 libx11-dev,
 ikiwiki
Standards-Version: 3.9.8
Homepage: https://www.freedesktop.org/wiki/Software/Beignet/
Vcs-Git: https://anonscm.debian.org/git/pkg-opencl/beignet.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-opencl/beignet.git

Package: beignet-opencl-icd
Architecture: i386 amd64 kfreebsd-i386 kfreebsd-amd64 hurd-i386 x32
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${Built-Using:clang}
Breaks: beignet0.0.1, beignet (<< 1.0.1)
Replaces: beignet0.0.1, beignet (<< 1.0.1)
Provides: opencl-icd
Description: OpenCL library for Intel GPUs
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the shared library for the Intel implementation,
 which supports the integrated GPUs of Ivy Bridge (ix-3xxx)/Bay Trail and
 later Intel processors.
 .
 Future processors (even in the same family) are likely to require future
 versions of this package; in Debian stable, these will be provided in
 -backports.

Package: beignet-dev
Section: libdevel
Architecture: i386 amd64 kfreebsd-i386 kfreebsd-amd64 hurd-i386 x32
Multi-Arch: foreign
Depends:
 beignet-opencl-icd (= ${binary:Version}),
 ocl-icd-opencl-dev,
 ${misc:Depends}
Suggests: opencl-1.2-html-doc
Description: OpenCL for Intel GPUs (development files and documentation)
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the documentation specific to the Intel
 implementation, and the development files for Intel OpenCL extensions.

Package: beignet
Section: oldlibs
Architecture: i386 amd64 kfreebsd-i386 kfreebsd-amd64
Depends:
 beignet-opencl-icd,
 ${misc:Depends}
Description: OpenCL library for Intel GPUs - transitional dummy package
 This is a transitional dummy package (the real package has been renamed
 to beignet-opencl-icd).  It can safely be removed.
